@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "Satisfy", cursive;
}
html {
	font-size: 26px;
}

#content,
.header,
body,
html {
	height: 100%;
}

.header {
	background: url("./assets/indian-food-bg.jpg") no-repeat;
	background-position: center center;
	background-size: cover;
	min-height: 100%;
	display: grid;
	grid-template-rows: 12vh auto;
}

.navigation {
	display: grid;
	justify-items: center;
	z-index: 3;
	height: 12vh;
	border-bottom: 1px solid white;
	background-color: #0000004f;
}

.navigation ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
}

.navigation ul li, .upper-footer div ul li {
    list-style: none;
}

.navigation ul li a, .upper-footer div ul li a {
    text-decoration: none;
    padding: 0px 40px;
    color: #0c78bb;
    font-weight: 600;
    font-size: clamp(25px, 3vw, 48px);
}

.navigation ul li a:hover {
	border-bottom: 4px solid #f9ad43;
	border-radius: 50px;
}

#content {
	display: flex;
	flex-direction: column;
}

.heading-section {
	display: grid;
	grid-template-rows: 65% 20%;
	justify-items: center;
	align-items: center;
	background-color: #8080804a;
}

.heading-section h1 {
	color: white;
	font-size: clamp(80px, 7vw, 140px);
	font-weight: 500;
	color: #f9ad43;
}

.heading-section button {
	border-radius: 13px;
	font-size: clamp(40px, 3vw, 75px);
	padding: 8px clamp(60px, 4vw, 100px);
	background: #0c78c3;
	color: #f9ad43;
	cursor: pointer;
}

.heading-section button:hover {
	background: #0c78bb;
	font-weight: bold;
}

.about-section {
	min-height: 100%;
	display: grid;
	grid-template-columns: 1fr 1.5fr;
}

.about-section div:nth-child(1) {
	background: url("./assets/indian-restro.jpg") no-repeat;
	background-position: center center;
	background-size: cover;
	border-right: 23px solid #f9ad43;
	border-bottom: 23px solid #f9ad43;
}

.about-section div:nth-child(2) {
	padding: 10px 50px;
	display: grid;
	grid-template-rows: 0.1fr 1fr;
}

.about-section div:nth-child(2) h2 {
	font-size: clamp(60px, 6vw, 110px);

	margin-bottom: 15px;
	color: #0c78bb;
}

.about-section div:nth-child(2) p {
	font-size: clamp(20px, 2.5vw, 40px);
}

.footer {
    display: flex;
    background: white;
    border-top: 1px solid gray;
    flex-direction: column;
    padding: 10px;
}

.footer {
    display: flex;
    background: #ededed;
    border-top: 2px solid black;
    flex-direction: column;
    padding: 10px;
    margin-top: 30px;
    gap: 15px;
}

.upper-footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    border-bottom: 1px solid black;
}

.upper-footer div:nth-child(2) {
    justify-self: center;
    font-size: clamp(25px, 2.5vw, 48px);
}

.upper-footer div:nth-child(3) {
    justify-self: end;
}

.upper-footer div h3 {
    color: #f9ad43;
    font-size: clamp(40px, 4vw, 65px);
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.upper-footer div ul li a {
    padding: 0px;
    font-weight: 400;
    font-size: clamp(25px, 2.5vw, 48px);
    color: black;
}

.upper-footer div ul li a:hover {
    color: #0c78bb;
}

.lower-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(25px, 2.5vw, 48px);
}